*{
    font-family:"Nico Moji";    /*  フォントデザイン指定*/
    font-size:inherit;          /* フォントサイズ:inheritで親要素から継承 */
    line-height:inherit;        /* 行ボックスの高さ:inheritで親要素から継承 */
}

body{
    font-size:32px;
    background-image:url("image/jungle.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height:100vh;
    background-repeat:no-repeat;
}

.mb-20{
    margin-bottom:20px;
}

.container{             /* containerクラスの設定 */
    width:400px;        /* ゲームの幅をwidthで設定 */
    margin:0 auto;      /* game全体を中央に配置 */
    text-align:center;  /* 各要素を中央に配置 */
}

.title{                                 /* タイトル */
    width: 100%;
    position:relative;
    }

.text{                                  /* タイトルが左側からスライドイン */
        font-size: inherit;
        text-align: center;
        margin-left: 50%;
        transform: translateX(-200%);
        opacity: 0;
        animation: slide-in-anim 1.5s ease-out forwards;
    }
    
@keyframes slide-in-anim {
        20% {
            opacity: 0;
        }
        60% {
            transform: translateX(-45%);
        }
        75% {
            transform: translateX(-52%);
        }
        100% {
            opacity: 1;
            transform: translateX(-50%);
        }
    }

.marker{                            /* タイトル部分マーカーの設定 */
    width:100%;
    height:35%;
    background-color: #9c5e31;
    position:absolute;              /* マーカーを文字の上にどのように引くか設定 */
    bottom:5%;                      /* マーカーを文字の上にどのように引くか設定 */
    z-index:-1;                     /* マーカーを文字の上にどのように引くか設定 */
}

.startButton{                               /* スタートボタンの設定 */
    display: block;
    position: relative;
    width: 80%;                             /*ボタンの幅*/
    padding: 10px 0;
    margin: 30px auto;
    background-color: #9acd32;            /*ボタンの色*/
    box-shadow: 0 3px 0 0 #006400;        /*影の色(rgbaの値を変更)*/
    border-radius: 5px;                     /* ボタンの角に丸みを設定 */
    font-weight: bold;
    font-size: 18px;
    color: #8b4513;                        /* ボタン内の文字の色設定 */
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    cursor:pointer;                         /* マウスがボタンに乗ったらカーソルをポインタにする */
}

.startButton:hover{                         /* マウスがホバーした時の設定 */
    opacity:0.7;                            /* 色が薄くなる */
    text-decoration: none;
    color: #fff;
    box-shadow: none;
}

.question{
    color:#808000;                      /* タイピングで出題される文字色の設定 */
}

.clear{
    color:#0000ff;                      /* ゲームクリアしたときClear!表示の文字色 */
}

.typeForm{
    text-align:center;                     /* 入力カーソルを中央に配置 */
    outline:none;                          /* 入力フォームの外枠を消す */
    border:none;                           /* 入力フォームの外枠を消す */
}

.typeFormWrapper{
    border-bottom:1px solid #9acd32;     /* タイピングボックスを下線だけにする */
}

.gauge{
    height:12px;                           /* 高さの設定 */
    transition:all .5s ease;               /* easeでゲージの増加スピード設定／ 0.5秒かけて変化する*/
}

.gaugeWrapper{                              /* ゲージの設定 */
    border:1px solid;               
    height:12px;
}

.typingimage{                               /* もっとタイピングを練習する(外部リンク)画像を設定 */
    width:200px;
    height:100x;
    text-align:center;
}

.typingimage:hover{                         /* もっとタイピングを練習する(外部リンク)にマウスをのせると白くなる */
    opacity:0.5;
}

.footer{                               
    width:400px;
    height:300px;
    text-align:center;
}

img {
    max-width: 100%;
  }
  /* body {
    width: 100%;
    height: 100%;
    position: relative;
  } */
  .apple1 {
    width: 100px;
    top:-180px;
    position: absolute;                          /* 要素の配置方法を指定 */
    animation-name: falldown;                    /* @keyframes アットルールの名前を指定 */
    animation-duration: 7s;                      /* アニメーション周期が完了するまでの時間 */
    animation-iteration-count: infinite;         /* アニメーションを実行する回数 */
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);   /* アニメーションが各サイクルの期間中にどのように進行するかを設定 */
    animation-delay: 2s;                        /* アニメーションをいつ開始するかを指定 */
  }

  .apple2 {
    width: 100px;
    top:-180px;
    padding-left:770px;
    position: absolute;
    animation-name: falldown;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-delay: 1s;                              
  }

  .banana1 {
    width: 100px;
    top:-180px;
    padding-left:200px;
    position: absolute;
    animation-name: falldown;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-delay: 2s;
  }

  .banana2{
    width: 100px;
    top:-180px;
    padding-left:500px;
    position: absolute;
    animation-name: falldown;
    animation-duration: 19s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-delay: 1s;
  }


  .leaf1 {
    width: 100px;
    top:-180px;
    padding-left:600px;
    position: absolute;
    animation-name: falldown;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-delay: 1s;
  }
  .leaf2 {
    width: 100px;
    top:-180px;
    padding-left:880px;
    position: absolute;
    animation-name: falldown;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-delay: 2s;
  }

  .leaf3 {
    width: 100px;
    top:-180px;
    padding-left:900px;
    position: absolute;
    animation-name: falldown;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-delay: 3s;
  }

  .leaf4 {
    width: 100px;
    top:-180px;
    padding-left:70px;
    position: absolute;
    animation-name: falldown;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-delay: 4s;
  }

  .leaf5 {
    width: 100px;
    top:-180px;
    padding-left:70px;
    position: absolute;
    animation-name: falldown;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-delay: 7s;
  }

  .leaf6 {
    width: 100px;
    top:-180px;
    padding-left:70px;
    position: absolute;
    animation-name: falldown;
    animation-duration: 55s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-delay: 10s;
  }

  .leaf7 {
    width: 100px;
    top:-180px;
    padding-left:70px;
    position: absolute;
    animation-name: falldown;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-delay: 11s;
  }
  .leaf8 {
    width: 100px;
    top:-180px;
    padding-left:70px;
    position: absolute;
    animation-name: falldown;
    animation-duration: 45s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-delay: 4s;
  }
  .momonga {
    width: 100px;
    left:1000px;
    padding-left:700px;
    position: absolute;
    animation-name: slide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-delay: 2s;
  }

 

  @keyframes falldown {
    0% {
      top: -50px;
      transform: rotate(360deg);
    }
    100% {
      top: 800px;
    }
  }

  @keyframes slide {
    0% {
      left: 10px;
      transform: rotate(40deg);
    }
    100% {
      top: 800px;
    }
  }


  